/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall > div#tag-2 { /* panda, front upper right*/
  display: none;
}

#wall > div { /* tag 3, green*/
  display: none;
}

#wall .parent #tag-4 { /*football helmet*/
  display: none;
}

#wall .parent > div { /*girl graffiti */
  display: none;
}

#wall .parent div div.slick {
  display: none;
}




