/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall .parent #tag-4 { /*football helmet*/
  display: none;
}

#wall > div { /* green words behind football */
  display: none;
}



