/* write your override styles here */
#wall .tag-1 {
  display: none;
}

#wall > div

#wall .parent #tag-4 {
  display: none;
}

#wall .parent .slick{
  display: none;
}

#wall .parent div .slick{
  display: none;
}


